:root {
  --main-color: #ee6436;
  --secundary-color: #181818;
  --font-family: "Nunito", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

h1,
h2 {
  margin-top: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}
