:root {
  --main-color: #ee6436;
  --secundary-color: #181818;
  --third-color: #fef9fa;
  --font-family: "Nunito", sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html {
  font-family: var(--font-family);
}

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  font: inherit;
  background-color: inherit;
  cursor: pointer;
}

.activities__container {
  text-align: center;
  padding: 1.25rem 1rem;
}

.activities__section {
  font-weight: 800;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  color: var(--main-color);
}

.activities__title {
  font-weight: 800;
  font-size: 2rem;
  color: var(--secundary-color);
  padding-top: 0.5rem;
  padding-bottom: 1.563rem;
}

.button {
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  padding: 0.8rem 0.9rem;
  border-radius: 0 25px 25px 25px;
}

.activities--solid-button {
  color: var(--third-color);
  background-color: var(--main-color);
}

.activities__image-gallery {
  margin-top: 20px;
}

.activities__pet-card {
  position: relative;
  background-image: url(/images/01.jpg);
  background-position: center center;
  height: 220px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 35px;
  overflow: hidden;
}

.activities__card-text {
  position: absolute;
  bottom: 0px;
  padding: 10px;
  left: 0px;
  width: 100%;
  visibility: hidden;
}

.activities__section-card {
  font-size: 0.8rem;
  text-transform: uppercase;
  color: var(--third-color);
}

.activities__title-card {
  color: var(--third-color);
  font-weight: 800;
  font-size: 1.2rem;
  margin: 0;
}

.activities__card-overlay {
  background-color: black;
  height: 100%;
  opacity: 0.3;
  visibility: hidden;
}

.activities__pet-card:hover .activities__card-overlay,
.activities__pet-card:hover .activities__card-text {
  visibility: visible;
  cursor: pointer;
}
